<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/login">
    User name:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Login"><br>
</form>
    <a href="/signup">New User? Sign Up</a>