

<form method="post" action="/output2">
    First Name :<input type="text" value="fname"><br>
    Last Name  :<input type="text" value="lname"><br>
    Age        :<input type="number" value="age"><br>
    Username   :<input type="text" value="usname"><br>
    Password   :<input type="password" value="pswd"><br><br>
    <input type="submit" value="Sign Up"><br>

</form>
