<form method="post" id="signup-form" action="/signup">
    First Name :<input type="text" name="firstname" ><br>
    Last Name  :<input type="text" name="lastname"><br>
    Email ID   :<input type="email" name="email"><br>
    Mobile No:<input type="number" name="mob"><br>
    Username   :<input type="text" name="username"><br>
    Password   :<input type="password" id="password" name="password"><br><br>
    Confirm Password   :<input type="password"  name="confirm_password"><br><br>
    <input type="submit" value="Sign Up"><br>

</form>
